<nav class="navbar bg-base-100 max-w-3xl mx-auto">
  <div class="navbar-start">
    <button class="btn btn-ghost btn-circle">
      <%= icon("arrow_small_left", class: "h-5 w-5") %>
    </button>
  </div>

  <div class="navbar-center">
    <span class="text-xl">lists</span>
  </div>

  <div class="navbar-end">
    <button class="btn btn-primary btn-circle">
      <%= icon("plus", class: "h-5 w-5") %>
    </button>
  </div>
</nav>

<div class="max-w-3xl mx-auto mt-4">
  <main>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th class="normal-case text-base">name</th>
            <th class="normal-case text-base">completed</th>
            <th class="normal-case text-base">total</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Cy Ganderton</td>
            <td>2</td>
            <td>4</td>
            <td class="text-right">
              <button class="btn btn-ghost btn-circle">
                <%= icon("trash", class: "h-4 w-4") %>
              </button>
            </td>
          </tr>

          <tr>
            <td>Hart Hagerty</td>
            <td>1</td>
            <td>3</td>
            <td class="text-right">
              <button class="btn btn-ghost btn-circle">
                <%= icon("trash", class: "h-4 w-4") %>
              </button>
            </td>
          </tr>

          <tr>
            <td>Brice Swyre</td>
            <td>4</td>
            <td>4</td>
            <td class="text-right">
              <button class="btn btn-ghost btn-circle">
                <%= icon("trash", class: "h-4 w-4") %>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
