<nav class="navbar bg-base-100 max-w-2xl mx-auto">
  <div class="navbar-start">
    <%= link_to lists_path do %>
      <button class="btn btn-ghost btn-circle">
        <%= icon("arrow_small_left", class: "h-5 w-5") %>
      </button>
    <% end %>
  </div>

  <div class="navbar-center">
    <span class="text-xl"><%= '<name>' %></span>
  </div>

  <div class="navbar-end"></div>
</nav>

<div class="max-w-2xl mx-auto mt-4 px-[var(--navbar-padding,0.5rem)]">
  <section class="flex items-center gap-4">
    <form style="line-height: 0;">
      <input type="checkbox" class="checkbox" />
    </form>

    <form class="w-full">
      <input type="text" placeholder="type here" class="input input-bordered w-full" />
    </form>
  </section>

  <div class="divider"></div>

  <main>
    <div class="group flex items-center gap-4 h-12">
      <form style="line-height: 0;">
        <input type="checkbox" class="checkbox" />
      </form>

      <label class="w-full pl-4">todo #1</label>

      <button class="invisible group-hover:visible btn btn-ghost btn-circle">
        <%= icon("trash", class: "h-4 w-4") %>
      </button>
    </div>

    <div class="group flex items-center gap-4 h-12">
      <form class="invisible" style="line-height: 0;">
        <input type="checkbox" class="checkbox" />
      </form>

      <form class="w-full">
        <input type="text" value="todo #2" class="input input-bordered w-full" />
      </form>

      <button class="hidden group-hover:visible btn btn-ghost btn-circle">
        <%= icon("trash", class: "h-4 w-4") %>
      </button>
    </div>

    <div class="group flex items-center gap-4 h-12">
      <form style="line-height: 0;">
        <input type="checkbox" class="checkbox" checked="checked" />
      </form>

      <label class="w-full pl-4 line-through">todo #1</label>

      <button class="invisible group-hover:visible btn btn-ghost btn-circle">
        <%= icon("trash", class: "h-4 w-4") %>
      </button>
    </div>
  </main>
</div>
