<turbo-frame id="<%= dom_id(@todo) %>" data-sort-code="<%= @todo.created_at.to_i %>">
  <div class="group flex items-center gap-4 h-12">
    <%# rendered invisible to consume the space %>
    <%= form_with model: @todo, style: "line-height: 0;", class: "invisible" do |f| %>
      <%= f.check_box :completed, class: "checkbox" %>
    <% end %>

    <%= form_with model: @todo, url: todo_path(@todo), class: "w-full" do |f| %>
      <div class="form-control">
        <%= f.text_field :title, class: "input input-bordered w-full",
                                 placeholder: "type here",
                                 autocomplete: :off,
                                 autofocus: @autofocus,
                                 onfocus: (
                                   <<~JS
                                     (function autofocusCursorAtTheEnd(field, value) {
                                       field.value = '';
                                       field.value = value;
                                     })(this, this.value);
                                   JS
                                 ),
                                 onblur: (
                                   <<~JS
                                     (function (field) { field.closest("form").requestSubmit(); })(this);
                                   JS
                                 ) %>
      </div>
    <% end %>

    <%# don't show the delete button while editing %>
  </div>
</turbo-frame>
