<nav class="navbar bg-base-100 max-w-2xl mx-auto">
  <div class="navbar-start"></div>

  <div class="navbar-center">
    <span class="text-xl"><%= "<todos>" %></span>
  </div>

  <div class="navbar-end"></div>
</nav>

<div class="max-w-2xl mx-auto mt-4 px-[var(--navbar-padding,0.5rem)]">
  <section class="flex items-center gap-4">
    <%= render partial: "todos/forms/toggle", locals: { todos: @todos } %>

    <div class="w-full">
      <%= render partial: "todos/forms/new", locals: { todo: @todo || Todo.new } %>
    </div>
  </section>

  <div class="divider"></div>

  <main id="todos">
    <%= render @todos %>
  </main>
</div>

<nav class="<%= class_names("navbar bg-base-100 max-w-2xl mx-auto", hidden: !(@todos.any? || filtering?)) %>">
  <div class="navbar-start">
    <p><span id="todos_left"><%= todos_left %></span> items left</p>
  </div>

  <div class="navbar-center">
    <ul class="flex gap-8">
      <li>
        <%= link_to "All", todos_path,
                           class: class_names(
                                    "px-2 py-1 border rounded hover:border-primary-focus",
                                    !filtering? ? "border-primary" : "border-transparent"
                                  ) %>
      </li>
      <li>
        <%= link_to "Active", todos_path(completed: false),
                              class: class_names(
                                       "px-2 py-1 border rounded hover:border-primary-focus",
                                       filtering?(:incompleted) ? "border-primary" : "border-transparent"
                                     ) %>
      </li>
      <li>
        <%= link_to "Completed", todos_path(completed: true),
                                 class: class_names(
                                          "px-2 py-1 border rounded hover:border-primary-focus",
                                          filtering?(:completed) ? "border-primary" : "border-transparent"
                                        ) %>
      </li>
    </ul>
  </div>

  <div class="navbar-end"></div>
</nav>
